
*body{
    margin:0 px;
    padding:0px;
}
    
    
#header{
    background-color: rgb(212, 14, 14);
    height:60px;
    width: 100%;
    display: inline-block;
    text-align: right;
    
}
#upar{
    color:white;
    display: inline-block;
    margin-right:15px;
}
#upar1{
    color:white;
    display: inline-block;
    border:1px solid white;
    margin:2px;
    padding:3px;
    margin-right:65px;
    border-radius:2px;
    
}
#logo{
    text-align:center;
    display:inline-block;
    margin-right:70%;
}
#h1{
    color:blue;
    margin-left:50px;
}